helloworldtest/helloworld
helloworldtest/helloworld.c
.vscode/launch.json
.vscode/tasks.json
helloworldtest/helloworld.dSYM/Contents/Info.plist
helloworldtest/helloworld.dSYM/Contents/Resources/DWARF/helloworld
helloworldtest/helloworld.dSYM/Contents/Resources/Relocations/aarch64/helloworld.yml
